<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<th:block layout:fragment="content">
    <h1 class="panel-titulo">Gestionar usuarios</h1>
    <table class="tabla-usuarios">
        <thead>
        <tr>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th></th>
        </tr>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${usuarios}">
            <td th:text="${u.usuario}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.nombre} + ' ' + ${u.apellido}"></td>
            <td th:text="${u.rol}"></td>
            <td>
                <form th:action="@{'/gestionar/' + ${u.id} + '/borrar'}" method="post" onsubmit="return confirm('¿Seguro que quieres borrar a este usuario? Esta acción no se puede deshacer.');">
                    <button type="submit" class="cta-button btn-small btn-danger">Borrar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>